.DS_Store
.idea/

dataset/*
!dataset/.gitkeep

parameters/weightsEmbedding/*
!parameters/weightsEmbedding/.gitkeep

parameters/convEmbedding/*
!parameters/convEmbedding/.gitkeep

parameters/allParaEmbedding/*
!parameters/allParaEmbedding/.gitkeep

parameters/retrained_ImageNet2CIFAR100/*
!parameters/retrained_ImageNet2CIFAR100/.gitkeep

parameters/retrained_ImageNet2OxfordIIITPet/*
!parameters/retrained_ImageNet2OxfordIIITPet/.gitkeep

parameters/retrained_ImageNet2FGVCAircraft/*
!parameters/retrained_ImageNet2FGVCAircraft/.gitkeep

parameters/retrained_ImageNet2GTSRB/*
!parameters/retrained_ImageNet2GTSRB/.gitkeep

parameters/retrained_ImageNet2PCAM/*
!parameters/retrained_ImageNet2PCAM/.gitkeep

parameters/expReplacement/*
!parameters/expReplacement/.gitkeep

parameters/expXOR/*
!parameters/expXOR/.gitkeep

parameters/ImageNetRe/*
!parameters/ImageNetRe/.gitkeep

parameters/embeddedRetrainCIFAR100/*
!parameters/embeddedRetrainCIFAR100/.gitkeep

parameters/embeddedRetrainFGVCAircraft/*
!parameters/embeddedRetrainFGVCAircraft/.gitkeep

parameters/embeddedRetrainPCAM/*
!parameters/embeddedRetrainPCAM/.gitkeep

parameters/embeddedRetrainOxfordIIITPet/*
!parameters/embeddedRetrainOxfordIIITPet/.gitkeep

parameters/embeddedRetrainGTSRB/*
!parameters/embeddedRetrainGTSRB/.gitkeep

parameters/resnet50ConvEmbedding/*
!parameters/resnet50ConvEmbedding/.gitkeep

parameters/resnet50ConvEmbedding_loop/*
!parameters/resnet50ConvEmbedding_loop/.gitkeep

parameters/init/*
!parameters/init/.gitkeep

parameters/bitFlip/resnet50/bitFlip/*
!parameters/bitFlip/resnet50/bitFlip/.gitkeep

parameters/bitFlip/resnet50/bitEmbedd/*
!parameters/bitFlip/resnet50/bitEmbedd/.gitkeep

parameters/bitFlip/resnet50/2CIFAR100/*
!parameters/bitFlip/resnet50/2CIFAR100/.gitkeep
!parameters/bitFlip/resnet50/2CIFAR100/result/

parameters/bitFlip/resnet50/2OxfordIIITPet/*
!parameters/bitFlip/resnet50/2OxfordIIITPet/.gitkeep
!parameters/bitFlip/resnet50/2OxfordIIITPet/result/

parameters/bitFlip/resnet50/2GTSRB/*
!parameters/bitFlip/resnet50/2GTSRB/.gitkeep
!parameters/bitFlip/resnet50/2GTSRB/result/

parameters/bitFlip/resnet50/2PCAM/*
!parameters/bitFlip/resnet50/2PCAM/.gitkeep
!parameters/bitFlip/resnet50/2PCAM/result/

parameters/bitFlip/resnet50/2FGCVAircraft/*
!parameters/bitFlip/resnet50/2FGCVAircraft/.gitkeep
!parameters/bitFlip/resnet50/2FGCVAircraft/result/

parameters/bitFlip/malware/*
!parameters/bitFlip/malware/.gitkeep




malware/*
!malware/.gitkeep

fileProcess/temp/*
!fileProcess/temp/.gitkeep

fileProcess/result/*
!fileProcess/result/.gitkeep