.DS_Store
.idea/

dataset/*
!dataset/.gitkeep

parameters/weightsEmbedding/*
!parameters/weightsEmbedding/.gitkeep

parameters/convEmbedding/*
!parameters/convEmbedding/.gitkeep

parameters/allParaEmbedding/*
!parameters/allParaEmbedding/.gitkeep

parameters/retrained_ImageNet2CIFAR100/*
!parameters/retrained_ImageNet2CIFAR100/.gitkeep

parameters/retrained_ImageNet2OxfordIIITPet/*
!parameters/retrained_ImageNet2OxfordIIITPet/.gitkeep

parameters/retrained_ImageNet2FGVCAircraft/*
!parameters/retrained_ImageNet2FGVCAircraft/.gitkeep

parameters/retrained_ImageNet2GTSRB/*
!parameters/retrained_ImageNet2GTSRB/.gitkeep

parameters/retrained_ImageNet2PCAM/*
!parameters/retrained_ImageNet2PCAM/.gitkeep

parameters/expReplacement/*
!parameters/expReplacement/.gitkeep

parameters/expXOR/*
!parameters/expXOR/.gitkeep

parameters/ImageNetRe/*
!parameters/ImageNetRe/.gitkeep

parameters/embeddedRetrainCIFAR100/*
!parameters/embeddedRetrainCIFAR100/.gitkeep

parameters/embeddedRetrainFGVCAircraft/*
!parameters/embeddedRetrainFGVCAircraft/.gitkeep

parameters/embeddedRetrainPCAM/*
!parameters/embeddedRetrainPCAM/.gitkeep

parameters/init/*
!parameters/init/.gitkeep

malware/*
!malware/.gitkeep

fileProcess/temp/*
!fileProcess/temp/.gitkeep

fileProcess/result/*
!fileProcess/result/.gitkeep