.DS_Store
.idea/

dataset/*
!dataset/.gitkeep

parameters/weightsEmbedding/*
!parameters/weightsEmbedding/.gitkeep

parameters/convEmbedding/*
!parameters/convEmbedding/.gitkeep

parameters/init/*
!parameters/init/.gitkeep

malware/*
!malware/.gitkeep

fileProcess/temp/*
!fileProcess/temp/.gitkeep

fileProcess/result/*
!fileProcess/result/.gitkeep